h1 {
    text-align: center;
}

.box1 {
    width: 200px;
    height: 200px;
    border: solid 2px black;
    background-color: dodgerblue;
    position: fixed;
    /*When we change our position from static*/
    /*we can then use*/
    /* offset values: top, bottom, left, right*/
    /*z-index: -1;*/
    /*with z-index elements (when position: absolute; e.g. sit below then the content*/
    right: 0;
    top: 200px;


}

.box2 {
    width: 100px;
    height: 100px;
    border: solid 2px black;
    background-color: crimson;
    position: absolute;
    top: 50px;
    left: 50px;
}











