@keyframes animation-1 {
    from {
        background-color: red;
    }
    to {
        background-color: blue;
    }
}

.animationOne {
    animation-name: animation-1;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes animation-2 {
    0%{
        background-color: greenyellow;
    }
    25% {
        background-color: orange;
    }
    50% {
        background-color: blueviolet;
    }
    75%{
        background-color: red;
    }
    100% {
        background-color: dodgerblue;
    }
}

.animationTwo {
    animation-name: animation-2;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-iteration-count: 3;
}

@keyframes animation-3 {
    from{
        left: -30%;
    }
    to{
        left: 100%;
    }
}

.animationThree {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: crimson;
    position: absolute;
    animation-name: animation-3;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-duration: alternate;
    animation-iteration-count: infinite;
}





