.box{
    width: 150px;
    height: 150px;
    text-align: center;
    border: 2px solid black;
    margin: 5px;
    color: white;
    font-size: 32px;
    float: right;

}

.box1{
    background-color: rgb(77, 49, 23);
}

.box2 {
    background-color: burlywood;

}

.box3 {
    background-color: brown;
}







