/* Selects the second element of div siblings */
div:nth-child(1) {
    background: rgb(150, 76, 76);
  }
  
  /* Selects the second li element in a list */
  li:nth-child(3) {
    background: rgb(74, 105, 74);
  }
  
  /* Selects every third element among any group of siblings */
  :nth-child(2) {
    background: white;
    
  }



















