.p2 {
    color: antiquewhite;
    background-color: brown;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.p4{
    background-color: rgb(116, 60, 60);
    color: darkcyan;
    font-size: 30px;
}











